body {
  background-image: url(images/background.jpg);
  background-repeat: repeat-y;
  background-size: cover;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  min-width: 280px;
  margin: 0px auto;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

.container {
  width: 90%;
  text-align: center;
  margin: 40px auto;
}

.dicecontainer {
  display: flex;
  width: 90%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}

.dice {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 300px;
  max-height: 300px;
}

.vs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 80px;
  font-size: 4rem;
  color: #4ECCA3;
  font-family: 'Lobster', cursive;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
  margin: 20px;
  transition: all 0.3s ease;
}

.player-win {
  font-size: 2.5rem;
  color: red;
  transition: all 0.3s ease;
}

.img {
  width: 80%;
  transition: 0.3s ease;
}

.imgwin {
  width: 90%;
  transition: 0.3s ease;
}

.btn {
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: rgb(211, 211, 211);
  padding: 15px;
  border-radius: 10rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}

.btn:hover {
  background-color: white;
  transition: all 0.3s ease;
}

footer {
  margin-top: 50px;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}


@media only screen and (max-width: 600px) {
  h1 {
    font-size: 3.5em;
    margin: 10px auto;
  }

  p {
    font-size: 1.8rem;
    margin: 10px;
  }

  .player-win {
    font-size: 2.2rem;
  }

  .vs {
    font-size: 2.8rem;
    height: 80px;
  }

  .dicecontainer {
    flex-direction: column;
    padding: 20px 0px;
    width: 100%;
  }

  .container {
    width: 100%;
  }

  .dice {
    max-width: 70%;
  }

  .main {
    padding: 0;
    width: 100%;
  }

  .img {
    width: 60%;
  }

  .imgwin {
    width: 70%;
  }

  .player-win {
    font-weight: bold;
  }

  footer {
    margin-top: 10px;
  }

  @media only screen and (max-height: 750px) {
    footer {
      display: none;
    }
  }
}